extends layout

block content
  div.chatPaginaTitolo=chat.name
  #chatView.chatView
    each mess in messages
      if mess.fromMe
        div.messageMe
          if mess.hasMedia 
            if mess.type === 'ptt'
              p Audio
            else if mess.type === 'image'
              a(href=`/media/${encodeURIComponent(mess.mediaKey)}`) Visualizza immagine
            else
              p File non supportato
          else if mess.type === 'chat'
            p=mess.body
          else
            p=`${mess.type} - non supportato`
      else
        div.message
          if chat.isGroup
            if mess.authorName
              strong=mess.authorName
            else
              strong=mess.author
          if mess.hasQuotedMsg
            .quote
              strong=mess.quotedAuthor 
              p=mess.quotedBody
          if mess.hasMedia 
            if mess.type === 'ptt'
              p Audio
            else if mess.type === 'image'
              a(href=`/media/${encodeURIComponent(mess.mediaKey)}`) Visualizza immagine
            else
              p File non supportato
          else if mess.type === 'chat'
            p=mess.body
          else if mess.type === 'revoked'
            em Messaggio eliminato
          else
            p=`${mess.type} - non supportato`
  
  form(method="POST" action=`/chat/${chat.id._serialized}/send`)
    .invioTesto
      #textbox
        input(type="text" name="testo")
      #invioTasto
        input(type="submit" value=">")
  script(type='text/javascript').
    window.onload=function () {
      window.scrollTo(0,document.querySelector(".chatView").scrollHeight);
    }